/* notifications.css */

/* Add styles to the outer container */
.cont {
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-height: 100vh;*/
  }
  .imgleft{
    position: fixed;
    top: 5px;
    left: 80px;
    width: 70px;
  }
  /* Add styles to the inner content */
  .conte {
    width: 800%;
    /* max-width: 600px; /* Set a maximum width to keep the content from getting too wide */
    /* padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: white; */
  }
  
  /* Customize button and alert margins */
  .btn-primary {
    margin-top: 20px;
  }
  
  .alert {
    margin-bottom: 10px;
    white-space: normal;
    word-wrap: break-word; 
  }
  