.all{
    margin-top: -350px;
}
.formCreateUser{
    height: 100vh;
    margin-top: 0px;
    margin-left: 400px;
    width: 60%;
}
.espacee{
    color: #000;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .formCreateUserup{
    margin-top: 430px;
    margin-bottom: 0px;
  }
  .imgleft{
    position: fixed;
    top: 5px;
    left: 80px;
    width: 70px;
  }
  .logout{
    margin-right: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  .barad{
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background: #e2e3e5;
  }
  .absolutely-positioned {
    position: absolute;
    top: 50%;
    right: 4%; /* Adjust this value as needed */
    transform: translateY(-50%);
    padding: 10px;
    color: #000;
    font-size: 18px;
    margin-right: 30px;
    border: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
.files{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 10px;
    align-items: center;
}
.files input{
    height: 30px;
}
.files button{
    height: 30px;
    margin-top: 0px;
}
button{
    width: 200px;
}
.big-btn{
    width: 200px;
}
h5{
    width: fit-content;
    border-bottom: 1px solid black;
    text-align: center;
    justify-content: center;
    align-content: center;
}
h3{
    width: fit-content;
    border-bottom: 1px solid black;
}
.flex-row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
label{
    min-width: fit-content;
    width: 200px;
}
.margin input{
    margin-right: 10px;
}
/* Add red color for error messages */
.error-message {
    color: red;
    }
    
    /* Add red border for input fields with errors */
    .error-border {
    border-color: red !important;
    }