.formCreateUserop{
    margin-top: 250px;
    margin-left: 50px;
}
.imgleft{
    position: fixed;
    top: 5px;
    left: 80px;
    width: 70px;
  }/* Add red color for error messages */
.error-message {
    color: red;
    }
    
    /* Add red border for input fields with errors */
    .error-border {
    border-color: red !important;
    }