
  
  /* Main  */  
  .main-containerr {
    grid-area: main;
    overflow-y: auto;
    color: rgba(255, 255, 255, 0.95);
    width: 90%;
    position: absolute;
    top: 30px;
    left: 80px;
    margin-top: 100px;
  }
  
  .main-title {
    display: flex;
    justify-content: space-between;
  }
  .nama{
    color: #fff;
    position: absolute;
    top: 5;
    right: 0;
    float: left;
    font-size: 24px;
  }
  .custom-dropdown .nav-link {
    color: #74E39A;
    font-weight: bold; /* Set the color to white */
  }
  .espace_admin{
    color: #74E39A;
    font-family: serif;
    font-weight: bold;
    font-size: 32px;
    margin-top: 3px;
  }
  .info{
    text-align: right;
    align-items: end;
    color: #74E39A;
    font-weight: bold;
  }
  .appbare{
    position: fixed;
    top: 0;
    left: 0;
    height: 65px;
    width: 100%;
    background: #3a3c3f;
    border-radius: 0px 0px 10px 10px;
  }
  .main-cards {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 200px;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    border-radius: 5px;
    width: 300px;
    height: 130px;
    margin-left: 30px;
  }
  .tit{
    color: aliceblue;
    font-size: 22px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
  }
  .fixside{
    position: fixed;
    top: 0;
    left: 0;
  }
  .num{
    color: aliceblue;
    font-size: 24px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
  }
  .card:first-child {
    background-color: #7493e8;
  }
  
  .card:nth-child(2) {
    background-color: #de5e5e;
  }
  
  .card:nth-child(3) {
    background-color: #4c8f50;
  }
  
  .card:nth-child(4) {
    background-color: #ea9f67;
  }
  .card:nth-child(5){
    background-color: burlywood;
  }
  
  .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-inner > .card_icon {
    font-size: 25px;
  }
  .gg{
    margin-left: 200px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .charts {
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    padding: 20px;
    margin-top: 0px;
    margin-bottom: 200px;
  }
  
  /* End Main  */
  
  
  /* Medium <= 992px */
    
  @media screen and (max-width: 992px) {
    .grid-container {
      grid-template-columns: 1fr;
      grid-template-rows: 0.2fr 3fr;
      grid-template-areas:
        'header'
        'main';
    }
  
    #sidebar {
      display: none;
    }
  
    .menu-icon {
      display: inline;
    }
  
    .sidebar-title > span {
      display: inline;
    }
  }
  /* Small <= 768px */
    
  @media screen and (max-width: 768px) {
    .main-cards {
      grid-template-columns: 1fr;
      gap: 10px;
      margin-bottom: 0;
    }
  
    .charts {
      grid-template-columns: 1fr;
      margin-top: 30px;
    }
  }
  
  /* Extra Small <= 576px */
  
  @media screen and (max-width: 576px) {
    .hedaer-left {
      display: none;
    }
  }
  