.settings-all{
    width: 500px;
    margin-left: -150px;
    margin-top: -100px;
}
.bara{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 40px;
  }
  .image{
    position: absolute;
    top: 10px;
    width: 70px;
  }
  .nav-link{
    width: 100%;
  }
  .nav-item{
    margin-right: 30px;
  }