.table-wrapper-cm{
  width: 90%;
  margin-top: 100px;
  background-color: #e2e3e5;
  border-radius: 10px;
  padding: 30px;
}
.espace_admin{
  color: #74E39A;
  font-family: serif;
  font-weight: bold;
  font-size: 32px;
  margin-top: 3px;
}
.search{
  font-size: 50px;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
.titre{
  font-family: serif;
  color: #01B636;
  font-size: 38px;
  border-bottom: 4px solid #01B636;
  border-right: 2px solid #01B636;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-top: 5px;
  box-shadow: 1px 1px 5px;
  font-weight: bold;
  text-align: center;
  align-items: center;
}
.info{
  text-align: right;
  align-items: end;
  color: #74E39A;
  font-weight: bold;
}
.appbare{
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background: #3a3c3f;
  border-radius: 0px 0px 10px 10px;
}
.table{
  display: block;
  overflow: hidden;
  table-layout: auto;
  border-collapse: collapse;
  box-shadow: 0px 10px 10px #ccc;
  border-radius: 10px;
  white-space: nowrap;
  width: 100%;
  max-width: 100%;
  margin: auto;
  overflow-x: auto;
}
.filter{
  
}
.table thead{
  background-color: #ccc;
  color: #222;
}
.table th, .table td{
  padding: 0.8rem;
}
.table td{
  border-top: 0.5px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table tbody tr:hover{
  background-color: #eee;
}
.expand{
  width: 100%;
}
.label{
  border-radius: 3px;
  padding: 0.3rem;
  color: white;
}
.label-draft{
  background-color: #777;
}
.label-live{
  background-color: #42a942;
}
.label-error{
  background-color: #d9534f;
}
.actions{
  display: flex;
  justify-content: space-around;
}
.actions svg{
  cursor: pointer;
}
.delete-btn{
  color: #e10d05;
}
.filter-dropdown{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.espacee{
  color: #000;
  font-size: 24px;
  font-weight: bold;
  margin-left: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logout{
  margin-right: 20px;
  font-size: 24px;
  font-weight: bold;
}
.barad{
  position:static;
  top: 0;
  height: 70px;
  width: 100%;
  background: #e2e3e5;
}
.absolutely-positioned {
  position: absolute;
  top: 50%;
  right: 4%; /* Adjust this value as needed */
  transform: translateY(-50%);
  padding: 10px;
  color: #000;
  font-size: 18px;
  margin-right: 30px;
  border: 0px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.filter-input{
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  
}
.imgleft{
  position: fixed;
  top: 5px;
  left: 80px;
  width: 70px;
}

.nav-image{
  width: 200px;
}
.input-fil{
  width: 180px;
  border: 1px solid #3a3c3f4d;
  border-radius: 3px;
  height: 30px;
  border-radius: 3px;
}