.openMenu{
    position: absolute;
  top: 0;
  left: 0;
}
.open{
    background-color: transparent;
    
}
.items{
    color: black;
}
.close{
    height: 80px;
}
.sidebar_profile{
    position: absolute;
    bottom: 0;
  left: 0;
  margin-bottom: 20px;
}
.name{
    color:white;
}
.email{
    color: white;
}