.table-wrapper{
    width: 100%;
}
.table-wrappero{
    width: 200%;
}
.table{
    display: block;
    overflow: hidden;
    table-layout: auto;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px #ccc;
    border-radius: 10px;
    white-space: nowrap;
    width: 100em;
    max-width: 100%;
    margin: auto;
    overflow-x: auto;
}
.filter{
    
}
.imgleft{
  position: fixed;
  top: 5px;
  left: 80px;
  width: 70px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity here */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .close-icon {
    position: absolute;
    top: 10px;
    color: #42a942;
    right: 10px;
    margin-top: 250px;
    margin-right: 25%;
    cursor: pointer;
    font-size: 24px;
  }
  .overlay > div {
    background-color: white;
    padding: 20px;
    width: 70%;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
.bara{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 40px;
  }
  .espacee{
    color: #000;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .logout{
    margin-right: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  .barad{
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    background: #e2e3e5;
  }
  .absolutely-positioned {
    position: absolute;
    top: 50%;
    right: 4%; /* Adjust this value as needed */
    transform: translateY(-50%);
    padding: 10px;
    color: #000;
    font-size: 18px;
    margin-right: 30px;
    border: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .image{
    position: absolute;
    top: 10px;
    width: 70px;
  }
.table thead{
    background-color: #ccc;
    color: #222;
}
.table th, .table td{
    padding: 0.8rem;
}
.table td{
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table tbody tr:hover{
    background-color: #eee;
}
.expand{
    width: 100%;
}
.label{
    border-radius: 3px;
    padding: 0.3rem;
    color: white;
}
.label-draft{
    background-color: #777;
}
.label-live{
    background-color: #42a942;
}
.label-error{
    background-color: #d9534f;
}
.actions{
    display: flex;
    justify-content: space-around;
}
.actions svg{
    cursor: pointer;
}
.delete-btn{
    color: #e10d05;
}
.filter-dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter{
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 150px;
    border-radius: 10px;
    height: 50px;
    border: 1px solid #777;
}
.bara{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 40px;
  }
  .image{
    position: absolute;
    top: 10px;
    width: 70px;
  }
.filter-input{
    width: 100px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    
}
.nav-image{
    width: 200px;
}
.input-fil{
    width: 80px;
    border-radius: 3px;
}