.App{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #faf9f6;
}
  .child{
    height: 100%;
    width: 100%;
  }
  /* .body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image : url('../public/alomrane.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 768px;
    width: 100%;
  } */
  .body1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgb(213, 213, 213);
    height: 768px;
    width: 100%;
  }
  .body11{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 97%;
    padding: 10px;
  }
  .body11>*{
    margin: 10px;
    height: 20px;
    border-radius: 10px;
  }
  .menu{
    height: 100%;
    width: 20%;
    border-right: 2px solid black;
  }
  .menu>div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .menu>div input{
    margin: 10%;
    width: 80%;
    background-color: rgb(213, 213, 213);
  }
  .menu>div>*:nth-child(1){
    margin-bottom: 10%;
  }
  .menu>h1{
    color: rgb(73, 73, 73);
  }
  .menu>h1>*{
    text-decoration: none;
    color: rgb(73, 73, 73);
  }
  h1{
    text-align: center;
    color: blue;
  }
  .nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 60px;
    width: 100%;
    background-color: white;
  }
  .logo{
    background-image : url('../public/logo.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    width: 60px;
    height: 60px;
    margin-left: 100px;
  }
  .logoD{
    width: 50%;
  }
  .exit{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    width: 49%;
  }
  .exit>*{
    padding-right: 20px;
  }
  .panel{
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px 10px gray;
    min-height: fit-content;
    min-width: fit-content;
    /* margin: 0px 50% 50% 0px; */
    background-color: rgb(204, 204, 204);
  }
  .panel > header {
    font-family: Verdana;
    font-size: 16px;
    text-align: center;
    background-color: rgb(74, 69, 69);
    color: white;
    padding: 5px;
    border-radius: 10px 10px 0px 0px;
  }
  .panel>div {
    margin: 20px;
    text-align: center;
  }
  .formCreateUser *{
    margin-left: 4px;
  }
  .formCreateUser{
    width: 100%;
    text-align: left;
  }
  .formCreateUser input{
    width: 400px;
  }
  .formCreateUser select{
    width: 400px;
  }
  .btn{
    margin-top: 1rex;
    border: none;
    background-color: #1d4edB;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0px 5px 5px #ccc;
  }
  .form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
  }
  .form-group input, .form-group textarea, .form-group Select{
    border: 1px solid black;
    border-radius: 0.3rem;
    padding: 0.3rem;
    font-size: 1rem;
  }
  .form-group label{
    margin-bottom: 0.2rem;
  }