.table-wrapper{
    width: 100%;
}
.table{
    display: block;
    overflow: hidden;
    table-layout: auto;
    border-collapse: collapse;
    box-shadow: 0px 10px 10px #ccc;
    border-radius: 10px;
    white-space: nowrap;
    width: 100em;
    max-width: 80%;
    margin: auto;
    overflow-x: auto;
}
.filter{
    
}
.table thead{
    background-color: #ccc;
    color: #222;
}
.table th, .table td{
    padding: 0.8rem;
}
.table td{
    border-top: 0.5px solid #ddd;
    overflow: hidden;
    text-overflow: ellipsis;
}
.table tbody tr:hover{
    background-color: #eee;
}
.expand{
    width: 100%;
}
.label{
    border-radius: 3px;
    padding: 0.3rem;
    color: white;
}
.label-draft{
    background-color: #777;
}
.label-live{
    background-color: #42a942;
}
.label-error{
    background-color: #d9534f;
}
.actions{
    display: flex;
    justify-content: space-around;
}
.actions svg{
    cursor: pointer;
}
.delete-btn{
    color: #e10d05;
}
.filter-dropdown{
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter{
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    width: 150px;
    border-radius: 10px;
    height: 50px;
    border: 1px solid #777;
}
.bara{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 40px;
  }
  .image{
    position: absolute;
    top: 10px;
    width: 70px;
  }
.filter-input{
    width: 100px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
    
}
.nav-image{
    width: 200px;
}
.input-fil{
    width: 80px;
    border-radius: 3px;
}